<div class="masthead">
<nav class="language-nav">
CSS 
HTML 
Javascript 
Ruby
</nav>
<img class="logo" src="AA_Times_Logo.png" >
<nav class="masthead-links">
Tuesday, October 18, 2016
Today’s Paper
Video
77°F
AAO +100%
</nav>
</div>