<div class="masthead">
    <nav class="language-nav">
        <ul>
            <li>
                <a>
                    CSS
                </a>
            </li>
            <li>
                <a>
                    HTML
                </a>
            </li>
            <li>
                <a>
                    Javascript
                </a>
            </li>
            <li>
                <a>
                    Ruby
                </a>
            </li>
        </ul>
    </nav>
    <img class="logo" src="AA_Times_Logo.png" >
    <nav class="masthead-links">
        <ul>
            <li>
                Tuesday, October 18, 2016&nbsp&nbsp&nbsp</li>
            <li>
                <i class="far fa-newspaper"></i>
                <a>Today’s Paper</a>
            </li>
            <li>
                <i class="fas fa-video"></i>
                <a>Video</a>
            </li>
            <li>
                <button>77°F</button>
            </li>
            <li>
                <button>AAO <strong>+100%</strong></button>
            </li>
        </ul>
    </nav>
</div>